  @font-face {
    font-family: 'AlteHaasGrotesk';
    src: local('?'), url('fonts/AlteHaasGroteskRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'AlteHaasGroteskBold';
    src: local('?'), url('fonts/AlteHaasGroteskBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  body {
    font-family: 'Helvetica', sans-serif;
    color: #333333;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #fefefb;
  }
  h1, h2, h3 {
    font-family: 'AlteHaasGroteskBold', sans-serif;
  }
  ol {
  }

  #side-notes {
    list-style: none;
    /*
    display: none;
    */
  }
  #container {
    width: 85%;
    margin: 3% 0 0 5%;
  }
  #main {
    width: 60%;
    float: left;
  }
  #side-column {
    width: 25%;
    float: right;
  }
